@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.woff') format('woff'),
        url('./assets/fonts/Poppins-Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Poppins';

}

a {
    text-decoration: none;
}

.customSwiper .swiper-button-prev:after,
.customSwiper .swiper-button-next:after {
    font-family: swiper-icons;
    /* font-size: var(--swiper-navigation-size); */
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    font-size: 17px;
    font-weight: 800;
    padding: 15px;
    background-color: #2f4cdd;
    border-radius: 10px;
    color: white;
}

.customSwiper1 .swiper-button-prev:after,
.customSwiper1 .swiper-button-next:after {
    font-size: 18px !important;
    color: #ffffff;
    font-weight: 600;
    top: -6%;


}

.customSwiper1 .swiper-button-prev,
.customSwiper1 .swiper-button-next {
    top: -45px
}

.customSwiper1 .swiper-button-prev {
    left: 73%;
}